// Code for Greensboro 1.2
// codeforgreensboro.org

section {
	&#hero {
		background: $red image-url('gsoskyline.jpg') center -80px no-repeat fixed;
		background-size: cover;
		min-height: 600px;
		padding-top: 8%;
	}
	&#top-deck {
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 90px;
			position: absolute;
			top: -240px;
			left: 0;
			background: image-url('wave.png') center center no-repeat;
			background-size: cover;
		}
	}
	&#calls {
		background: 
			image-url('stripes-large.png') top center no-repeat,
			image-url('objects-002.png') repeat;
		padding-top: $base-spacing*12;
	}
}

// Primitives
//
// Adds structure to full-width content blocks

.content {
	@include outer-container;
	padding: $base-spacing 0;
}

// Blocks
//
// Reusable grid members

// 1. Panels
// Panels are basically cards
// two-up: defines a 2 x 2 grid of cards

.panel {
	&.two-up {
		@include span-columns(6);
	}
	&.three-up {
		@include span-columns(4);
	}
	&.four-up {
		@include span-columns(3);
	}
}

// Page parts
//
// Specific parts of our base layout

footer {
	background: $neutral;
}