// Code for Greensboro 1.2
// codeforgreensboro.org

body {
	font-size: 200% !important;
}

section {
	&.hero {
		background: $red image-url('gsoskyline.jpg') center top no-repeat fixed;
		background-size: cover;
		min-height: 600px;
		padding: $base-spacing;
	}
	&.top-deck {
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 90px;
			position: absolute;
			top: -220px;
			left: 0;
			background: image-url('wave.png') center center no-repeat;
			background-size: cover;
			display: none;
		}
	}
	&.calls {
		background: 
			image-url('stripes-large.png') top center no-repeat,
			image-url('objects-002.png') repeat;
		padding-top: $base-spacing*6;
	}
	&.wide-image {
		overflow: hidden;
		height: $base-spacing*12;
		img {
			width: 300%;
		}
	}
}

// Primitives/block level modifiers
//
// Adds structure to full-width content blocks

.content {
	@include outer-container;
	padding: $base-spacing;
}

.content-narrow {
	@include outer-container;
	padding: $base-spacing $base-spacing*8;
}

header.internal {
	background: $red;
	h2 {
		color: #fff;
		margin: 0;
	}
}

// Blocks
//
// Reusable grid members

// 1. Panels
// Panels are basically cards
// two-up: defines a 2 x 2 grid of cards

.panel {
	&.two-up {
		@include span-columns(12);
	}
	&.three-up {
		@include span-columns(4);
	}
	&.four-up {
		@include span-columns(12);

		h4 {
			margin-bottom: $small-spacing/2;
		}
	}
}

.card {
	position: relative;
	@include span-columns(3.90);
	border: 5px solid #d7d7d7;
	padding: $base-spacing*3 $base-spacing $small-spacing;
	margin-top: $base-spacing*2.5;
	background-size: cover;

	h4, h5 {
		margin: 0;
		text-align: center;
	}
	h5 {
		margin-bottom: $small-spacing;
	}
	p {
		font-size: 95%;
	}
}

// Page parts
//
// Specific parts of our base layout

.leftcolumn {
	@include span-columns(9);
	padding: $base-spacing*2;
	&.has-top-padding {
		padding-top: $base-spacing*1.3;
	}
}
.sidebar {
	@include span-columns(3);

	h2 {
		font-size: 120%;
	}
	p {
		font-size: 90%;
	}
}

.banner {
	background: #111;
	text-align: center;

	h2, h5 {
		margin: 0;
	}

	h2 {
		font-size: 1.3rem;
		font-weight: bold;
		color: lighten($blue, 10%);
		line-height: 1;
	}
	.join {
		color: #fff;
		font-weight: lighter;
		background: $attention;
		padding: 6px 12px;
		margin-left: $small-spacing;
		border-radius: 8px;
		a {
			color: #fff;
		}
	}
}

footer {
	background: $neutral;
}

// Images
//
// Stuff for images

.portrait {
	border-radius: 200px;
	width: 140px;
	height: 140px;
	overflow: hidden;
	float: right;
	margin: 0 0 $small-spacing $small-spacing;
}
.card {
	.portrait {
		width: 90px;
		height: 90px;
		position: absolute;
		top: -45px;
		left: 35%;
		border: 5px solid $red;
	}
}
.home-button {
	margin-top: 1px;
}

.left {
	float: left;
}
.right {
	float: right;
}
