/*
	title  : layout.scss
	package: codeforgreensboro.org
	author : nickmjones
	version: 1.0
*/

section {
	&.hero {
		background: $red image-url('gsoskyline.jpg') left -600px no-repeat fixed;
		background-size: cover;
		min-height: 600px;
		padding: $base-spacing;
	}
	&.top-deck {
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 90px;
			position: absolute;
			top: -220px;
			left: 0;
			background: image-url('wave.png') center center no-repeat;
			background-size: cover;
			display: none;
		}
	}
	&.calls {
		background:
			image-url('stripes-large.png') top center no-repeat,
			image-url('objects-002.png') repeat;
		padding-top: $base-spacing*12;
	}
	&.wide-image {
		overflow: hidden;
		height: $base-spacing*12;
		img {
			width: 300%;
		}
	}
}

// Primitives/block level modifiers
//
// Adds structure to full-width content blocks

.content {
	@include outer-container;
	padding: $base-spacing;
}

.content-narrow {
	@include outer-container;
	padding: $base-spacing $base-spacing*8;
}

header.internal {
	background: $red;
	h2 {
		color: #fff;
		margin: 0;
	}
}

// Blocks
//
// Reusable grid members

// 1. Panels
// Panels are basically cards
// two-up: defines a 2 x 2 grid of cards

.panel {
	&.two-up {
		@include span-columns(12);
	}
	&.three-up {
		@include span-columns(4);
		h4 {
			font-size: 3rem;
			color: $red;
			margin-bottom: $small-spacing/2;
		}
		p {
			font-size: 2.5rem;
		}
		ul {
			li {
				font-size: 1.5rem;
			}
		}
	}
	&.four-up {
		@include span-columns(12);

		h4 {
			font-size: 3rem;
			color: $red;
			margin-bottom: $small-spacing/2;
		}
		p {
			font-size: 2.5rem;
		}
	}
}

.card {
	position: relative;
	@include span-columns(3.90);
	border: 5px solid #d7d7d7;
	padding: $base-spacing*3 $base-spacing $small-spacing;
	margin-top: $base-spacing*2.5;
	background-size: cover;

	h4, h5 {
		margin: 0;
		text-align: center;
	}
	h5 {
		margin-bottom: $small-spacing;
	}
	p {
		font-size: 95%;
	}
}

// Page parts
//
// Specific parts of our base layout

.leftcolumn {
	@include span-columns(9);
	padding: $base-spacing*2;
	&.has-top-padding {
		padding-top: $base-spacing*1.3;
	}
}
.sidebar {
	@include span-columns(3);

	h2 {
		font-size: 120%;
	}
	p {
		font-size: 90%;
	}
}

.banner {
	background: #111;
	text-align: center;

	h2, h5 {
		margin: 0;
	}

	h2 {
		font-size: 1.3rem;
		font-weight: bold;
		color: lighten($blue, 10%);
		line-height: 2;
	}
	.join {
		color: #fff;
		font-weight: lighter;
		background: $attention;
		padding: 6px 12px;
		margin-left: $small-spacing;
		border-radius: 8px;
		a {
			color: #fff;
		}
	}
}

footer {
	background: $neutral;
}

// Images
//
// Stuff for images

.portrait {
	border-radius: 200px;
	width: 140px;
	height: 140px;
	overflow: hidden;
	float: right;
	margin: 0 0 $small-spacing $small-spacing;
}
.card {
	.portrait {
		width: 90px;
		height: 90px;
		position: absolute;
		top: -45px;
		left: 35%;
		border: 5px solid $red;
	}
}


.left {
	float: left;
}
.right {
	float: right;
}

// Twitter Wall
//
// Containers for showing tweets

.content-wall {
	@include outer-container;
	padding: $base-spacing;
}

h1.tweet {
	color: lighten(#494451, 20%);
	font-weight: bold;
	font-size: 2rem;
	margin: $small-spacing 0 $small-spacing/2 0;
}

.tweet-block {
	@include span-columns(4);
	@include omega(3n);
	background: lighten(#494451, 10%);
	border-top: 1px solid lighten(#494451, 18%);
	margin-bottom: $base-spacing*2;
	padding: $base-spacing;
	position: relative;
	min-height: 240px;
	display: none;

	&:after {
		content: "";
		width: 0;
		height: 0;
		border-top: 30px solid lighten(#494451, 10%);
		border-right: 30px solid transparent;
		position: absolute;
		bottom: -30px;
		left: $base-spacing;
	}

	p, a {
		color: lighten(#494451, 45%);
	}

	h2 {
		color: #e7a246;
		font-size: 1.5rem;
		line-height: 2;
		margin: 0;
	}

	h5 {
		font-size: 1rem;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		left: $base-spacing;
		bottom: $base-spacing;
	}
}
body.wall {
	background: #494451;

	.timer {
		height: 3px;
		background: #e7a246;
		width: 0;
		@include transition(all 60s linear);

		&.stretching {
			width: 100%;
		}
	}
}
