ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

header#navigation {
  ul {
    @include outer-container;
    margin-bottom: -8px;
    li {
      float: left;
      margin-right: $base-spacing;
      line-height: $base-spacing*2;
      text-transform: uppercase;
      font-size: 90%;
      color: $blue;
    }
  }
}

footer {
  ul {
    @include span-columns(5 of 12);
  }
}