<div class="banner">
	<div class="content">
		<h2>The 2015 Code for Greensboro Civic Hackathon is June 6. 
			<span class="join">
				<%= link_to static_path('2015-hackathon') do %>
					Learn More &rarr;
				<% end %> 
			</span>
		</h2>
	</div>
</div>