<header id="navigation">
	<ul class="nav">
		<li><strong>Code for Greensboro</strong></li>
		<li>Home</li>
		<li><%=link_to "About", page_path('about') %></li>
		<li>Projects</li>
		<li>Leadership</li>
		<li>Contact</li>
	</ul>
</header>