<%= content_for :page_title, 'Winter 2015 Hackathon' %>

<div class="content">
	<div class="leftcolumn">
		<h3>This November, Code for Greensboro will host the second civic hackathon of the year. </h3>

		<h5>
			Didn't we just do this?
		</h5>

		<p>
			Save the date and stayed tuned for updates. You'll want to get your tickets early this time. Watch for the announcement.
		</p>
	</div>
		<aside class="sidebar">
			<%= image_tag "hackathon-logo.jpg" %>

			<div class="register">
				<a href="http://www.eventbrite.com/e/code-for-greensboro-civic-hackathon-2015-tickets-16804960088?ref=ebtnebregn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=16804960088" alt="Eventbrite - Code for Greensboro Civic Hackathon 2015" /></a>
			</div>
		</aside>
</div>
