<section id="hero">
	<div class="content">
		<h1 class="xl">
			Leveraging open civic data and collaboration to make Greensboro, NC even better.
		</h1>
		<h4 class="brighten">Next Meeting: April 22, 2015</h4>
	</div>
</section>

<div class="content">
	<h3 class="is-centered">
		Code for Greensboro works to improve the way our city government uses its data and the web. And we need you&mdash;no coding required.
	</h3>
</div>

<section id="top-deck">
	<div class="content">
		<div class="panel two-up">
			<h4 class="blue">What We Do</h4>
			<p>
				Code for America Brigades are volunteer groups that collaborate with local government and community partners to build new tools that help with local civic issues. Code for America supports Brigade chapters with resources, tools, and access to the wider civic technology movement.
			</p>
		</div>

		<div class="panel two-up">
			<h4 class="blue">Who We Are</h4>
			<p>
				We are developers, designers, data nerds, politically-minded people with ideas for making things better, citizens, users of software&mdash;in other words, we are this community. We want to use these talents to make government work with the web in new and better ways.
			</p>
		</div>
	</div>
</section>

<section id="calls">
	<div class="content">

		<div class="panel four-up">
			<h4>Next Meeting: April 22, 2015</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut.</p>
		</div>

		<div class="panel four-up">
			<h4>Join Us</h4>
			<p>We meet the third Thursday of each month from 6 PM-9 PM.</p>
		</div>

		<div class="panel four-up">
			<h4>Hack With Us</h4>
			<p>Or suggest one we haven't even thought of.</p>
		</div>

		<div class="panel four-up">
			<h4>Meetup Group</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud</p>
		</div>
	</div>
</section>